<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Preguntas</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>
	<body>
		<nav class = "navbar navbar-default sin-margen-inferior" role="navigation">
			<div class = "container">
				<div class = "row">
					<div class="col-md-offset-2 col-md-8">
						<div class="navbar-header">
							<a href="/" class="navbar-brand titulo">DevAsk</a>
						</div>
					</div>
					<ul class="nav navbar-nav navbar-rigth">
						{% if not user %}
						<li class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown">
								<strong>Menú</strong>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/auth/facebook">Iniciar Sesion con facebook</a></li>
								<li class="divider"></li>
								<li><a href="/auth/twitter">Iniciar Sesion con twitter</a></li>
							</ul>
						</li>
						{% else %} 
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="{{ url_foto }}" alt="..." class="img-rounded" width="32px" height="32px">
							<strong>{{ user }} </strong>
							<span class="glyphicon glyphicon-chevron-down"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/chat">Chat</a></li>
							<li class="divider"></li>
							<li><a href="/logout">Salir</a></li>
						</ul>
						</li>
						{% endif %}

						
					</ul>
				</div>
			</div>

		</nav>


		{% block content %}

		{% endblock %}
		<script type="text/javascript" src="http://192.168.1.216:8000/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		{% block js %}

		{% endblock %}
	</body>
</html>